nav{
    display: flex;
    justify-content: center;
    gap: 20px;
}

button{
    font-family: "Sedan SC", serif;
    display: grid;
    color: white;
    border: none;
    background: none;
    font-size: large;
    align-items: center;
    width: 180px;
    height: 60px;
}

button:hover{
    color: yellow;
    cursor: pointer;
}


 

@media (max-width: 320px) {
    nav{
        display: grid;
        justify-content: center;
    }
    .navButton{
        width: 100%;
    }
}