.navButton{
    font-family: "Sedan SC", serif;
    display: grid;
    color: white;
    border-width: 0.2px;
    border-color: white;
    background: none;
    font-size: large;
    align-items: center;
    width: 100%;
    height: 60px;
}


 

@media (max-width: 320px) {
    nav{
        display: grid;
        justify-content: center;
    }
    .navButton{
        width: 100%;
    }
}